<link rel="stylesheet" href="assets/css/aurora-pack.min.css">
<link rel="stylesheet" href="assets/css/aurora-theme-base.min.css">
<link rel="stylesheet" href="assets/css/urku.css">

<section class="ae-container-fluid rk-main">
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a href="portfolio-item.html"
        class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\cuadrosrojos.jpg" alt="">
        <div class="item-meta">
          <h2>Camisa a cuadros rojos</h2>
          <p>cop $60.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\busoneo.jpg" alt="">
        <div class="item-meta">
          <h2>Buso neo</h2>
          <p>cop $150.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\camisacuadros.jpg" alt="">
        <div class="item-meta">
          <h2>Camisa gris jersey</h2>
          <p>cop $90.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\conjunto dragon ball.jpg" alt="">
        <div class="item-meta">
          <h2>Conjunto Dragon Ball</h2>
          <p>cop $70.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\leñador.jpg" alt="">
        <div class="item-meta">
          <h2>Camisa leñador mixta</h2>
          <p>cop $70.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\pantalon escolar.jpg" alt="">
        <div class="item-meta">
          <h2>Pantalon escolar</h2>
          <p>cop $50.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\pantalonazulgrafito.jpg" alt="">
        <div class="item-meta">
          <h2>Pantalon azul Grafito</h2>
          <p>cop $40.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\pijamanavideña.jpg" alt="">
        <div class="item-meta">
          <h2>Pijama navideña</h2>
          <p>cop $40.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\playeranegro.jpg" alt="">
        <div class="item-meta">
          <h2>Playera Negra</h2>
          <p>cop $50.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\chamarraazul.jpg" alt="">
        <div class="item-meta">
          <h2>Chamarra Azul</h2>
          <p>cop $65.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\camisetablanca.jpg" alt="">
        <div class="item-meta">
          <h2>Camiseta Gris Estampado</h2>
          <p>cop $40.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\sudaderagris.jpg" alt="">
        <div class="item-meta">
          <h2>Sudadera Gris</h2>
          <p>cop $60.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niños\shortsplayeros.jpg" alt="">
        <div class="item-meta">
          <h2>Shorts Playeros</h2>
          <p>cop $40.000.00</p>
          <h2>Añadir al Carrito</h2>
        </div>
      </a>

    </div>
  </section>
</section>