<link rel="stylesheet" href="assets/css/aurora-pack.min.css">
<link rel="stylesheet" href="assets/css/aurora-theme-base.min.css">
<link rel="stylesheet" href="assets/css/urku.css">

<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\1.jpg" alt="">
          <div class="item-meta">
              <h2>Blusa rosa</h2>
              <p>cop $35.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\2.jpg" alt="">
          <div class="item-meta">
              <h2>Conjunto pantalon puntos camisa blanca</h2>
              <p>cop $70.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\3.jpg" alt="">
          <div class="item-meta">
          <h2>Conjunto Gris Blanco Falda</h2>
          <p>cop $70.000.00</p>
          <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\4.jpg" alt="">
          <div class="item-meta">
              <h2>Conjunto verano rosa</h2>
              <p>cop $80.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\5.jpg" alt="">
          <div class="item-meta">
              <h2>Conjunto gris </h2>
              <p>cop $40.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\6.jpg" alt="">
          <div class="item-meta">
              <h2>pantalon estrecho negro</h2>
              <p>cop $40.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\7.jpg" alt="">
          <div class="item-meta">
              <h2>Blusa sin mangas rosa</h2>
              <p>cop $60.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\8.jpg" alt="">
          <div class="item-meta">
              <h2>Pantalon rosa</h2>
              <p>cop $30.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\9.jpg" alt="">
          <div class="item-meta">
              <h2>Vaqueros azul</h2>
              <p>cop $75.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\10.jpg" alt="">
          <div class="item-meta">
          <h2>Vaqueros ajustados </h2>
          <p>cop $60.000.00</p>
          <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\11.jpg" alt="">
          <div class="item-meta">
              <h2>Pantalones Puntos negross</h2>
              <p>cop $50.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\12.jpg" alt="">
          <div class="item-meta">
              <h2>Pantalones Desgaste azul</h2>
              <p>cop $37.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\niñas\13.jpg" alt="">
          <div class="item-meta">
              <h2>Sdudadera rosa</h2>
              <p>cop $67.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a>
      </div>
    </section>
  </section>
