<link rel="stylesheet" href="assets/css/aurora-pack.min.css">
<link rel="stylesheet" href="assets/css/aurora-theme-base.min.css">
<link rel="stylesheet" href="assets/css/urku.css">

<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\blusa negra.jpg" alt="">
          <div class="item-meta">
              <h2>Blusa Negra</h2>
              <p>cop $50.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\blusa oliva.jpg" alt="">
          <div class="item-meta">
              <h2>Blusa oliva</h2>
              <p>cop $37.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\blusa rosa.jpg" alt="">
          <div class="item-meta">
              <h2>Blusa Rosa</h2>
              <p>cop $45.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\blusa sin mangas.jpg" alt="">
          <div class="item-meta">
              <h2>Blusa sin mangas flores</h2>
              <p>cop $70.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\blusa vino tinto.jpg" alt="">
          <div class="item-meta">
              <h2>Blusa vino tinto</h2>
              <p>cop $60.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\capa gris.jpg" alt="">
          <div class="item-meta">
              <h2>Capa Gris</h2>
              <p>cop $80.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\chaleco sahara.jpg" alt="">
          <div class="item-meta">
              <h2>Chaleco lana gris</h2>
              <p>cop $50.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\falda lady sun.jpg" alt="">
          <div class="item-meta">
              <h2>Falda blanca</h2>
              <p>cop $70.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\jean azul.jpg" alt="">
          <div class="item-meta">
              <h2>Jean azul</h2>
              <p>cop $48.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\leggins negros.jpg" alt="">
          <div class="item-meta">
              <h2>Leggins Negros</h2>
              <p>cop $55.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\sahara.jpg" alt="">
          <div class="item-meta">
              <h2>Blusa rayas colores</h2>
              <p>cop $50.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\vesrido rosas.jpg" alt="">
          <div class="item-meta">
              <h2>Vestido rosas</h2>
              <p>cop $60.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a><a href="" class="rk-item ae-masonry__item"><img src="assets\Imagenes\mujeres\vestido negro.jpg" alt="">
          <div class="item-meta">
              <h2>Vestido negro</h2>
              <p>cop $60.000.00</p>
              <h2>Añadir al Carrito</h2>
          </div></a>
      </div>
    </section>
  </section>
